<b2b-row alignItem="stretch">
    <b2b-container row-body [property]="{flex: 1, padding: '0', borderRadius: '0', height: '780px', backgroundTheme: '--color-transparent', width: '50%', alignItem: 'flex-start'}">
        <b2b-container container-body>
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
        
            <b2b-spacer container-body height="20px"></b2b-spacer>
        
            <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>
        
        <b2b-spacer container-body minHeight="20px"></b2b-spacer>

        <b2b-container container-body>
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
        
            <b2b-spacer container-body height="20px"></b2b-spacer>
        
            <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>

        <b2b-spacer container-body minHeight="20px"></b2b-spacer>

        <b2b-container container-body>
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
        
            <b2b-spacer container-body height="20px"></b2b-spacer>
        
            <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>

    </b2b-container>
    <b2b-spacer row-body width="30px"></b2b-spacer>
    <b2b-container row-body [property]="{flex: 1, height: '780px', backgroundTheme: '--color-white', width: '50%', overflowY: 'auto'}">
       <b2b-process-card-two container-body></b2b-process-card-two>
    </b2b-container>
</b2b-row>