<div b2bGestureDetector [detectInsideClicks]="childOpen" (clickedOutside)="outsideElementClicked()">
  
    <div class="list-tile" [style]="drawerStyle" [style.borderBottomRightRadius]="childOpen ? '0' : '8px'" [style.borderBottomLeftRadius]="childOpen ? '0' : '8px'" [class.active]="active" *ngIf="!isChild; else childBlock" (click)="openChildren()">
        <ng-content select="[svg-icon]"></ng-content>
        <div class="menu-number" *ngIf="menuContent">
            <ng-content select="[menu-number]"></ng-content>
        </div>
        <span class="title" [style]="drawerStyless">{{text}}</span>
        <b2b-spacer [flex]="1"></b2b-spacer>
        <div class="more_vert" tabindex="0" (keydown.enter)="openChildren()" [style]="iconstyle" *ngIf="moveVert">
            <i class="material-icons"  *ngIf="isExpand" [class.open]="childOpen">{{icon}}</i>
        </div>
        <div class="more_vert" [style]="iconstyle" *ngIf="menuContent">
            <b2b-icon *ngIf="isExpand" [icon]="childOpen?'remove':'add'"></b2b-icon>
        </div>
    </div>
    
    <ng-template #childBlock>
        <div class="list-tile-child" [class.active-child]="active">
            <span class="title">{{text}}</span>
            <b2b-spacer [flex]="1"></b2b-spacer>
            <b2b-icon-button icon="more_vert" backgroundTheme="--color-drawer-light" colorTheme="--color-white" [isRounded]="true" iconSize="22px" width="35px"></b2b-icon-button>
        </div>
    </ng-template>
    
    <ng-container *ngIf="childOpen">
        <ng-content  select="[list-child]"></ng-content>
    </ng-container>

    <div *ngIf="menuContent" class="menu-content">
        <ng-content select="[menu-content]"></ng-content> 
    </div>
</div>
