<div class="container">
    <div class="donut-chart-block block"> 
       
        <div class="donut-chart">
            <div class="semi-dount" data-progress="900 SUPPLIERS" style="--progress: 85%;"></div>
        </div>
        <div class="donut-chart">
            <div class="semi-dount semi-dount-contract" data-progress="75% CONTRACTED" ></div>
            
        </div>
        <div class="donut-chart">
            <div class="semi-dount semi-dount-unlist" data-progress="25% UNLISTED" ></div>
            
        </div>
        <div class="donut-chart suppliers-box ">
            <div class="suppliers-header ">Top suppliers</div>
            <div class="suppliers-box-table ">
                <div class="suppliers-box-header">
                    <div class="icon-layout ">
                        <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                        <span class="material-icons expand-icon">expand_more</span>
                    </div>&nbsp;
                    <span class="supplier-count">10</span> Suppliers 1
                </div>
                <div class="suppliers-box-header">
                    <div class="icon-layout ">
                        <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                        <span class="material-icons expand-icon">expand_more</span>
                    </div>&nbsp;
                    <span class="supplier-count">60</span> Suppliers 2
                </div>
                <div class="suppliers-box-header">
                    <div class="icon-layout ">
                        <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                        <span class="material-icons expand-icon">expand_more</span>
                    </div>&nbsp;
                    <span class="supplier-count">100</span> Suppliers 3
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- <div class="pieContainer">
    <div class="pieBackground"></div>
    <div id="pieSlice1" class="hold"><div class="pie"></div></div>
    <div id="pieSlice2" class="hold"><div class="pie"></div></div>
    <div id="pieSlice3" class="hold"><div class="pie"></div></div>
    <div id="pieSlice4" class="hold"><div class="pie"></div></div>
    <div id="pieSlice5" class="hold"><div class="pie"></div></div>
    <div id="pieSlice6" class="hold"><div class="pie"></div></div>
    <div class="innerCircle"><div class="content">gjhgjgjgh</div></div>
  </div> -->