.add{
    position: absolute;
    top: 5%;
    right: 7%;
}
  /* BACKGROUND BLUR */
  .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Light black shadow effect */
    backdrop-filter: blur(5px);
    /* You can adjust the blur amount */
    z-index: 999;
    /* Make sure it's above other elements */
  }