<b2b-row height="100%">
    <b2b-container row-body [property]="{background: 'linear-gradient(to right, var(--color-login-gradient), var(--color-login-gradient-2))', borderRadius: '0', height:'100%', padding: '20px 0 0 40px',overflowY:'auto',justifyContent:'center'}">
        <b2b-row container-body height="auto" justifyContent="center" alignItem="center">
            <b2b-container row-body [property]="{height: '100%', borderRadius: '0', padding: '0', backgroundTheme: '--color-transparent', width: 'auto'}">
                <b2b-row container-body>
                    <b2b-text row-body text="We do not" colorTheme="--color-white" fontSize="20px"></b2b-text>
                    <b2b-spacer row-body width="10px"></b2b-spacer>
                    <b2b-text row-body text="OPTIMIZE" colorTheme="--color-white" fontSize="20px"></b2b-text>
                </b2b-row>
                <b2b-row container-body>
                    <b2b-text row-body text="but" colorTheme="--color-white" fontSize="25px"></b2b-text>
                    <b2b-spacer row-body width="10px"></b2b-spacer>
                    <b2b-text row-body text="REVOLUTIONIZE" colorTheme="--color-white" fontSize="30px"></b2b-text>
                </b2b-row>
                <b2b-row container-body>
                    <b2b-text row-body text="the way procurment happens in the Hospitality Industry ." colorTheme="--color-white" fontSize="20px"></b2b-text>
                </b2b-row>
                <b2b-spacer container-body height="30px"></b2b-spacer>
                <b2b-row container-body>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-1.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                    <b2b-spacer row-body width="15px"></b2b-spacer>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-2.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                </b2b-row>
                <b2b-spacer container-body height="15px"></b2b-spacer>
                <b2b-row container-body>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-3.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                    <b2b-spacer row-body width="15px"></b2b-spacer>
                    <b2b-container row-body [property]="{backgroundTheme: 'none',padding:'0 0 0 15px', width: 'auto',justifyContent:'flex-start',alignItem:'flex-start', height: '100%'}">
                        <b2b-text container-body text="Hotel SuppI AI .com" colorTheme="--color-white" fontSize="20px"></b2b-text>
                        <b2b-spacer container-body height="10px"></b2b-spacer>
                        <b2b-text container-body width="320px" colorTheme="--color-white" fontSize="15px" text="Harnessing the power of AI to transform the Procurement space thru curated digital catalog and prescriptive analytics ."></b2b-text>
                    </b2b-container>                </b2b-row>
                <b2b-spacer container-body height="15px"></b2b-spacer>
                <b2b-row container-body>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-transparent', width: '120px', height: '120px'}"></b2b-container>
                    <b2b-spacer row-body width="15px"></b2b-spacer>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-4.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                    <b2b-spacer row-body width="15px"></b2b-spacer>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-5.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                    <b2b-spacer row-body width="15px"></b2b-spacer>
                    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px'}">
                        <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-6.jpg" height="100%" width="100%"></b2b-image>
                    </b2b-container>
                </b2b-row>
    
                <b2b-spacer container-body height="40px"></b2b-spacer>
    
                <b2b-container container-body [property]="{backgroundTheme: 'none', width: '100%', height: 'auto',padding:'0',justifyContent:'flex-start',alignItem:'flex-start'}">
                    <b2b-text container-body fontSize="15px" text="Ecosystem developed" colorTheme="--color-white"></b2b-text>
                    <b2b-row container-body>
                        <b2b-text row-body fontSize="12px" text="by " colorTheme="--color-white"></b2b-text>
                        <b2b-spacer row-body width="7px"></b2b-spacer>
                        <b2b-text row-body fontSize="15px" text="Hospitality Veterans" colorTheme="--color-white"></b2b-text>
                    </b2b-row>
                    <b2b-row container-body>
                        <b2b-text row-body fontSize="12px" text="for" colorTheme="--color-white"></b2b-text>
                        <b2b-spacer row-body width="7px"></b2b-spacer>
                        <b2b-text row-body fontSize="15px" text="Hospitality Industry" colorTheme="--color-white"></b2b-text>
                    </b2b-row>
                </b2b-container>
            </b2b-container>
            <b2b-spacer row-body width="100px"></b2b-spacer>
    <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '450px', height: 'auto', padding: '40px'}">
        <b2b-row container-body>
            <b2b-text row-body text="OTP Verification" colorTheme="--color-white" fontSize="27px"></b2b-text>
            <b2b-spacer row-body [flex]="1"></b2b-spacer>
            <!-- <b2b-button row-body title="Hospitality" colorTheme="--color-primary" backgroundTheme="--color-white" width="auto" borderRadius="var(--global-radius)" height="40px" padding="0px 20px"></b2b-button> -->
        </b2b-row>
        <b2b-spacer container-body height="25px"></b2b-spacer>
        <b2b-inputbox container-body [value]="otpVerifyDetails.otp" (onChange)="otpVerifyDetails.otp = $event" width="100%" height="50px" backgroundTheme="--color-dim-white" borderRadius="var(--table-radius)" placeholder="Enter OTP" colorTheme="--color-white"  [title]="isOtpValid ? '' : 'You have entered incorrect otp'"></b2b-inputbox>
        <b2b-row container-body>
            <b2b-text row-body fontSize="15px" [text]="isOtpValid ? '' : 'You have entered incorrect otp'" colorTheme="--color-red"></b2b-text>
        </b2b-row>
        <b2b-spacer container-body height="10px"></b2b-spacer>
        <b2b-row container-body>
            <b2b-text row-body text="Change mobile number" colorTheme="--color-white" fontSize="14px" (click)="loginPage()"></b2b-text>
            <b2b-spacer row-body [flex]="1"></b2b-spacer>
            <b2b-text row-body text="Resend OTP" colorTheme="--color-white" (click)="ResendOtp()" fontSize="14px"></b2b-text>
            <b2b-spacer row-body width="10px"></b2b-spacer>

            <b2b-text row-body text="{{transform(counter)}}" colorTheme="--color-white"  fontSize="14px"></b2b-text>

        </b2b-row>
        <b2b-spacer container-body height="30px"></b2b-spacer>
        <b2b-row container-body justifyContent="center">
            <b2b-button row-body title="Verify OTP" colorTheme="--color-primary" backgroundTheme="--color-white" width="auto" borderRadius="var(--global-radius)" height="50px" width="150px" padding="0px 30px" [bold]="true" (click)="verifyOTP()"></b2b-button>
        </b2b-row>
        <b2b-spacer container-body height="300px"></b2b-spacer>
        <b2b-text container-body text="@All rights reserved" fontSize="15px" colorTheme="--color-white"></b2b-text>
    </b2b-container>
    <div id="recaptcha-container" row-body></div>
</b2b-row>
