<b2b-container class="login-container" [property]="{background: 'linear-gradient(to bottom right, var(--color-login-gradient), var(--color-login-gradient) , var(--color-login-gradient-2))', borderRadius: '0', height:'100%', padding: '8vh 0 5vh 40px',overflowY:'auto'}">
    <b2b-row container-body height="auto" justifyContent="center" alignItem="center" >
        <b2b-container row-body [property]="{height: '100%', borderRadius: '0', padding: '0', backgroundTheme: '--color-transparent', width: 'auto'}">
            <b2b-row container-body>
                <b2b-text row-body text="We do not" colorTheme="--color-light-white" fontSize="20px"></b2b-text>
                <b2b-spacer row-body width="8px"></b2b-spacer>
                <b2b-text row-body text="OPTIMIZE" colorTheme="--color-white" fontSize="30px"></b2b-text>
            </b2b-row>

            <b2b-row container-body>
                <b2b-text row-body text="but" colorTheme="--color-light-white" fontSize="25px"></b2b-text>
                <b2b-spacer row-body width="8px"></b2b-spacer>
                <b2b-text row-body text="Revolutionize" colorTheme="--color-white" fontSize="50px"></b2b-text>
            </b2b-row>

            <b2b-row container-body>
                <b2b-text row-body text="the way procurement happens in the Hospitality Industry ." colorTheme="--color-light-white" fontSize="20px"></b2b-text>
            </b2b-row>
            <b2b-spacer container-body height="30px"></b2b-spacer>

            <b2b-row container-body>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px', borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-1.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
                <b2b-spacer row-body width="15px"></b2b-spacer>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dark-dim-white', width: '120px', height: '120px',borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-2.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
            </b2b-row>
            <b2b-spacer container-body height="15px"></b2b-spacer>

            <b2b-row container-body>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dark-dim-white', width: '120px', height: '120px',borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-3.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
                <b2b-spacer row-body width="15px"></b2b-spacer>
                
                <b2b-container row-body [property]="{backgroundTheme: 'none',padding:'0 0 0 15px', width: 'auto',justifyContent:'flex-start',alignItem:'flex-start', height: '100%'}">
                    <b2b-row container-body>
                        <b2b-text row-body text="Not just " colorTheme="--color-light-white" fontSize="17px"></b2b-text>
                        <b2b-spacer row-body width="6px"></b2b-spacer>
                        <b2b-text row-body text=" Artificial Intelligence driven B2B" colorTheme="--color-white" fontSize="17px"></b2b-text>

                    </b2b-row>
                    <b2b-spacer container-body height="8px"></b2b-spacer>

                    <b2b-row container-body>
                        <b2b-text row-body text="multivendor marketplace " colorTheme="--color-white" fontSize="17px"></b2b-text>
                        <b2b-spacer row-body width="6px"></b2b-spacer>

                        <b2b-text row-body text="with" colorTheme="--color-light-white" fontSize="17px"></b2b-text>

                    </b2b-row>
                    <b2b-spacer container-body height="8px"></b2b-spacer>

                    <b2b-row container-body>
                        <b2b-text row-body text="Digital Catalog and Analytics, " colorTheme="--color-white" fontSize="17px"></b2b-text>
                        <b2b-spacer row-body width="6px"></b2b-spacer>

                        <b2b-text row-body text="but it is an" colorTheme="--color-light-white" fontSize="17px"></b2b-text>

                    </b2b-row>
                    <b2b-spacer container-body height="8px"></b2b-spacer>

                    <b2b-text container-body text="ECO-SYSTEM" colorTheme="--color-white" fontSize="17px"></b2b-text>
                    <!-- <b2b-spacer container-body height="10px"></b2b-spacer>
                    <b2b-text container-body width="320px" colorTheme="--color-white" fontSize="15px" text="Harnessing the power of AI to transform the Procurement space through curated digital catalog and prescriptive analytics ."></b2b-text> -->
                </b2b-container>
            </b2b-row>
            <b2b-spacer container-body height="15px"></b2b-spacer>

            <b2b-row container-body>
                <b2b-container row-body [property]="{backgroundTheme: '--color-transparent', width: '120px', height: '120px'}"></b2b-container>
                <b2b-spacer row-body width="15px"></b2b-spacer>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px',borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-4.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
                <b2b-spacer row-body width="15px"></b2b-spacer>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px',borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-5.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
                <b2b-spacer row-body width="15px"></b2b-spacer>
                <b2b-container row-body [property]="{backgroundTheme: '--color-dim-white', width: '120px', height: '120px',borderRadius:'7px'}">
                    <b2b-image container-body [isRounded]="true" [aspectRatio]="1" image="assets/login-brand-6.jpg" height="100%" width="100%"></b2b-image>
                </b2b-container>
            </b2b-row>

            <b2b-spacer container-body height="40px"></b2b-spacer>

            <b2b-container container-body [property]="{backgroundTheme: 'none', width: '100%', height: 'auto',padding:'0',justifyContent:'flex-start',alignItem:'flex-start'}">
                <!-- <b2b-text container-body fontSize="15px" text="Developed by Hospitality Veterans for Hospitality Industry" colorTheme="--color-white"></b2b-text> -->
                <b2b-row container-body>
                    <b2b-text row-body fontSize="15px" text="Developed by" colorTheme="--color-light-white"></b2b-text>
                    <b2b-spacer row-body width="6px"></b2b-spacer>
                    <b2b-text row-body fontSize="15px" text="Hospitality Veterans" colorTheme="--color-white"></b2b-text>
                    <b2b-spacer row-body width="6px"></b2b-spacer>
                    <b2b-text row-body fontSize="15px" text="for" colorTheme="--color-light-white"></b2b-text>
                    <b2b-spacer row-body width="6px"></b2b-spacer>
                    <b2b-text row-body fontSize="15px" text="Hospitality Industry" colorTheme="--color-white"></b2b-text>
               
                </b2b-row>
                <!-- <b2b-row container-body>
                    <b2b-text row-body fontSize="15px" text="for" colorTheme="--color-white"></b2b-text>
                    <b2b-spacer row-body width="7px"></b2b-spacer>

                    <b2b-text row-body fontSize="15px" text="Hospitality Industry" colorTheme="--color-white"></b2b-text>
                </b2b-row> -->
            </b2b-container>
        </b2b-container>

        <b2b-spacer row-body width="100px"></b2b-spacer> 

        <!-- Login , register Forms -->
        <ng-container row-body [ngSwitch]="type">
            <b2b-sign-in row-body *ngSwitchCase="'sign-in'" @moveUp></b2b-sign-in>
            <b2b-sign-up row-body *ngSwitchCase="'sign-up'" @moveUp></b2b-sign-up>
            <!-- <b2b-otp-verify row-body *ngSwitchCase="'otp-verify'" @moveUp></b2b-otp-verify> -->
            <b2b-sign-up row-body *ngSwitchDefault="" @moveUp></b2b-sign-up>
        </ng-container>
    </b2b-row>
</b2b-container>