<!-- <canvas #graphCanvas height="300px" width="400px"></canvas> -->
<div class="chart-layout">
    <div class="chart-label1">
        <div class="pie-chart"></div>
    </div>
    <div class="chart-label2">
        <div id="legenda">
            <div class="entry">
              <div id="color-brown" class="entry-color"></div>
              <div class="entry-text">2014 Q4</div>
            </div>
            <div class="entry">
              <div id="color-black" class="entry-color"></div>
              <div class="entry-text">2014 Q3</div>
            </div>
            <div class="entry">
              <div id="color-blue" class="entry-color"></div>
              <div class="entry-text">2014 Q2</div>
            </div>
            <div class="entry">
              <div id="color-green" class="entry-color"></div>
              <div class="entry-text">2015 Q1</div>
            </div>
            <div class="entry">
              <div id="color-yellow" class="entry-color"></div>
              <div class="entry-text">2015 Q2</div>
            </div>
            <div class="entry">
              <div id="color-orange" class="entry-color"></div>
              <div class="entry-text">2015 Q3</div>
            </div>
            
          </div>
    </div>
</div>    