<b2b-row  padding=" 15px 0 0 0" alignItem="start">
    <!--  container 1-->
    <!-- <b2b-container row-body [property]="{flex: 1, padding: '0 15px 0 0', borderRadius: '30px', height: '600px', backgroundTheme: '--color-transperent', width: '50%', alignItem: 'flex-start',overflowY:'auto'}">
      
        <b2b-container container-body [property]="{padding:'5px'}">
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
       <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>
        <b2b-spacer container-body minHeight="20px"></b2b-spacer>

        <b2b-container container-body [property]="{padding:'5px'}">
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
        <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>
        <b2b-spacer container-body minHeight="20px"></b2b-spacer>

        <b2b-container container-body [property]="{padding:'5px'}">
            <b2b-list-tile container-body title="Spoon" colorTheme="--color-black" [bold]="true">
                <b2b-avatar-image leading img="/assets/spoon.jpg" width="60px"></b2b-avatar-image>
            </b2b-list-tile>
        <b2b-product-table container-body [tableHeading]="tableHeading" [tableColumnSpacing]="tableColumnSpacing"></b2b-product-table>
        </b2b-container>
       
        </b2b-container> -->
   <!--- container order 2-->
<b2b-container row-body [property]="{flex: 2,height: '600px', width: '100%',padding:'5px 15px 5px 15px'}">
   <b2b-status-order-table container-body></b2b-status-order-table>
</b2b-container>