.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 1vw;
    row-gap: 1vw;
}
.icons{
    position: absolute;
    top:7px;
    right: 5px;
}
.truncate {
    width: 17vw; /* Set the fixed width */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflow content */
    text-overflow: ellipsis; /* Add ellipsis (...) at the end */
  }
  ::ng-deep .Job_Empty{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    width: 100% !important;
 } 