div.dropdownContainer {
    width: auto;
    position: relative;
    display:flex;
}

div.dropdownContainer div.dropdown-trigger {
    /* width: auto; */

    display: flex;
    align-items: center;
    justify-content: end;
}

.flex{
    display: flex;
}

div.dropdownContainer .dropdown {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    transition: opacity 0.1s ease;
}

.dropdown.ng-enter, .dropdown.ng-leave {
    opacity: 0;
  }
  
  .dropdown.ng-enter-active, .dropdown.ng-leave-active {
    opacity: 1;
  }