<b2b-row container-body>
    <b2b-text row-body text="Approval Process" fontSize="13px" [bold]="true"></b2b-text>
</b2b-row>
<div class="loader-" style="left: 45%;" *ngIf="isLoading == true"></div>

<b2b-row container-body alignItem="flex-start" padding="10px 0 0 0">
    <b2b-container row-body [property]="{width: 'auto', height: '100%', padding: '0'}">
        <b2b-stepper container-body lineHeight="110px" *ngIf="stepperLen > 0" [stepperCount]="stepperLen" [active]="trackingPoint"></b2b-stepper>
    </b2b-container>
    <b2b-spacer row-body width="10px"></b2b-spacer>
    <b2b-container row-body [property]="{padding: '0', backgroundTheme: '--color-transparent', height: 'auto'}">
        <ng-container container-body *ngFor="let cardData of cardDataList">
            <b2b-process-card class="process-card" [processCardData]="cardData"></b2b-process-card>
            <b2b-spacer minHeight="20px"></b2b-spacer>
        </ng-container>
    </b2b-container>
</b2b-row>